{% extends 'base.html.twig' %}

{% block title %}Les Classoeurs{% endblock %}

{% block body %}
    <main class="grid grid-cols-3 gap-6 place-items-center py-10 px-4">
        {% for post in posts %}
            <div class=" card card-bordered border-primary shadow-lg shadow-gray-200 py-4 px-2">
                {% if post.image %}
                    <figure>
                        <img src="{{ post.image }}" alt="{{ post.title }}" class="w-40">
                    </figure>
                {% endif %}
                <div class="card-body">
                    <h2 class="mx-auto font-semibold text-2xl">{{ post.title }}</h2>
                    <p class="text-justify line-clamp-3">{{ post.content }}</p>
                    <div>
                        <span class="badge badge-accent">{{ post.niveau.name }}</span>
                        {% if post.matiere %}
                            <span class="badge badge-warning">{{ post.matiere.name }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="flex flex-row justify-around items-center">
                    <a href="/post/{{ post.id }}" class="btn btn-secondary">Voir plus</a>
                    {% if app.user and post.user != app.user %}
                            {% if post.bookmarks.contains([app.user.id]) %}
                                <button class="btn btn-ghost text-error" data-controller="bookmarks" data-action="click->bookmarks#save" data-post-id=" {{ post.id }} " ><iconify-icon data-bookmarks-target="bookButton" icon="material-symbols-light:bookmark-remove" width="28"></iconify-icon></button>
                            {% else %}
                                <button class="btn btn-ghost text-success" data-controller="bookmarks" data-action="click->bookmarks#save" data-post-id=" {{ post.id }} " ><iconify-icon data-bookmarks-target="bookButton" icon="material-symbols:bookmark-add" width="28"></iconify-icon></button>
                            {% endif %}
                    {% endif %}
                </div>
                <div class="divider w-11/12"></div>
                <div class="flex flex-row flex-nowrap justify-between items-center mx-5">
                    <a href="{{ path('app_user_profile', {'id': post.user.id }) }}" class="flex flex-row flex-nowrap items-center">
                        <img src="{{ post.user.profile.profilePhoto }}" alt="{{ post.user.profile.username }}" class="w-10 mask mask-circle">
                        <span>{{ post.user.profile.username }}</span>
                    </a>
                    <div>
                        <p>{{ post.publishedAt.format('d/m/y') }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock %}
